{{>licenseInfo}}

package {{package}};

{{#useReflectionEqualsHashCode}}
import org.apache.commons.lang3.builder.EqualsBuilder;
import org.apache.commons.lang3.builder.HashCodeBuilder;
{{/useReflectionEqualsHashCode}}
import java.util.Objects;
import java.util.Arrays;
{{#imports}}
import {{import}};
{{/imports}}
{{#serializableModel}}
import java.io.Serializable;
{{/serializableModel}}
import com.fasterxml.jackson.annotation.*;
{{#withXml}}
{{#jersey3}}
import jakarta.xml.bind.annotation.*;
{{/jersey3}}
{{#jersey2}}
import javax.xml.bind.annotation.*;
{{/jersey2}}
{{/withXml}}
{{#useBeanValidation}}
	{{#jersey3}}
import jakarta.validation.constraints.*;
import jakarta.validation.Valid;
{{/jersey3}}
{{#jersey2}}
import javax.validation.constraints.*;
import javax.validation.Valid;
{{/jersey2}}
{{/useBeanValidation}}

{{#models}}
{{#model}}
{{#vendorExtensions.x-cloudevent-type}}
	import cd.connect.cloudevents.CloudEventType;
	import cd.connect.cloudevents.TaggedCloudEvent;
{{/vendorExtensions.x-cloudevent-type}}
{{#vendorExtensions.x-cloudevent-subject}}
	import cd.connect.cloudevents.CloudEventSubject;
{{/vendorExtensions.x-cloudevent-subject}}

	{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>pojo}}{{/isEnum}}
{{/model}}
{{/models}}
