import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;

import java.util.Map;
import java.util.HashMap;

/**
 * {{^description}}Gets or Sets {{{name}}}{{/description}}{{#description}}{{description}}{{/description}}
 */
public enum {{#datatypeWithEnum}}{{{.}}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{{classname}}}{{/datatypeWithEnum}} {
  {{#allowableValues}}{{#enumVars}}
  {{#enumDescription}}
  /**
   * {{enumDescription}}
   */
  {{/enumDescription}}
  {{{name}}}({{{value}}}){{^-last}},
  {{/-last}}{{/enumVars}};{{/allowableValues}}

  private {{{dataType}}} value;

  {{#datatypeWithEnum}}{{{.}}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{{classname}}}{{/datatypeWithEnum}}({{{dataType}}} value) {
    this.value = value;
  }

  @JsonValue
  {{#ebeanEnum}}
  @io.ebean.annotation.DbEnumValue
  {{/ebeanEnum}}
  public {{{dataType}}} getValue() {
    return value;
  }

  @Override
  public String toString() {
    return String.valueOf(value);
  }

  public {{classname}} copy() {
    return this;
  }

  // can't use map.of
	private static Map<String,{{{classname}}}> fromValues = new HashMap<>();

  static {
    {{#allowableValues}}{{#enumVars}}fromValues.put({{{value}}}, {{{name}}});
    fromValues.put("{{{name}}}", {{{name}}});{{/enumVars}}{{/allowableValues}}
  }

  @JsonCreator
  public static {{#datatypeWithEnum}}{{{.}}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{{classname}}}{{/datatypeWithEnum}} fromValue(String text) {
    {{#useNullForUnknownEnumValue}}
	  return fromValues.get(text);
    {{/useNullForUnknownEnumValue}}{{^useNullForUnknownEnumValue}}
	{{{classname}}} val = fromValues.get(text);
	  if (val != null) { return val; }
    {{/useNullForUnknownEnumValue}}
	  throw new IllegalArgumentException("Unexpected value '" + text + "'");
  }
}
